My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        112
      ],
      "id": "51921e5d-3530-4617-ab6b-b3732017b5ab",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PdIZj1Zse4Yp33f6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        944,
        112
      ],
      "id": "97f93ccf-6622-4f0b-93c7-f9c7efa347e0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lost-item",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        -128
      ],
      "id": "3ae26d87-8acb-4f1e-be6a-14d390f7b752",
      "name": "Webhook",
      "webhookId": "a2b60682-c5d5-4f77-be53-3270f11d4b20"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7426aded-c44c-4253-a4e0-d3ed7c3415fb",
              "name": "finder_description",
              "value": "={{$json.finder_description}}",
              "type": "string"
            },
            {
              "id": "21b8ef69-96ee-4a75-925c-dd0b1d449d60",
              "name": "owner_description",
              "value": "={{$json.owner_description}}",
              "type": "string"
            },
            {
              "id": "faa57e1d-74d3-4e2c-9f27-1a5b3a2c3202",
              "name": "finder_email",
              "value": "={{$json.finder_email}}",
              "type": "string"
            },
            {
              "id": "7a133d79-132f-4bf5-b705-cf277422ae8b",
              "name": "owner_email",
              "value": "={{$json.owner_email}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -128
      ],
      "id": "0b83180f-9aa1-4eb6-b6e4-133f6f602eda",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1360,
        -128
      ],
      "id": "7c620424-c6f1-4c65-8367-5331f44c29da",
      "name": "Send a message",
      "webhookId": "e9dee2e4-0ad7-48e4-8116-a984ef47ed31"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        -128
      ],
      "id": "b499619d-ccbe-4ced-bd6c-a5263a40ae17",
      "name": "Send a message1",
      "webhookId": "402b92d0-e35c-4f4f-a73c-37a9b24c35f4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        256,
        -128
      ],
      "id": "6cbd016e-14b2-42b6-b750-1c81c8d31764",
      "name": "Create a row"
    },
    {
      "parameters": {
        "operation": "getAll"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        -128
      ],
      "id": "4469ea65-7310-43cc-a6a8-6ef302c4cdd7",
      "name": "Get many rows"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        -128
      ],
      "id": "f10c65b1-21bf-4aa0-9846-026a89f8ddc3",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        848,
        -112
      ],
      "id": "f1e5a604-eeae-4d58-8a0b-4a32f0c73ef8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fdb3f4c1-9457-447d-b374-7f5ad21d1795",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1152,
        -112
      ],
      "id": "99e2e1a0-2ff9-4265-ac72-b7888e55ea2b",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "67f9e9c5-7497-41f8-9cc9-9e55d9581bd9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4b52271aa183d516e42df17588ff181ec0872aee7b95e054b4950e92ad2b469"
  },
  "id": "IQqn5QagpqkWpRNG",
  "tags": []
}